<mat-drawer-container class="sidebar-container">
  <mat-drawer mode="side" opened class="d-flex sidebar">
    <ul class="menu">
      <li><a routerLink="/administrador/dashboard" id="menu-dashboard">Dashboard</a></li>
      <li><a routerLink="/administrador/clientes">Clientes</a></li>
      <li><a routerLink="/administrador/produtos" id="menu-produtos">Produtos</a></li>
      <li><a routerLink="/administrador/relatorios">Relatórios</a></li>
      <li><a routerLink="/administrador/parametros">Parâmetros</a></li>
      <li><a routerLink="/administrador/vendas" id="menu-vendas">Vendas</a></li>
      <li><a routerLink="/administrador/estoque" id="gerenciar-estoque">Gerenciar estoque</a></li>
      <li><a routerLink="/administrador/cupons">Cupons promocionais</a></li>
      <li><a (click)="sair()" id="menu-sair-adm">Sair</a></li>
    </ul>
  </mat-drawer>
  <mat-drawer-content class="container-fluid admin-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<!-- <div class="container-fluid">
  <router-outlet></router-outlet>
</div> -->
