<div>
  <mat-card class="m-2 mb-4">
    <img mat-card-image src="/assets/codigo_da_vinci.jpg" alt="O Código Da Vinci">
    <mat-card-content>
      <mat-card-title>
        O Código da Vinci
      </mat-card-title>
      <p class="mt-2">
        Brown, Dan
      </p>
      <mat-card-title class="mt-3">R$ 49,90</mat-card-title>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button mat-flat-button color="primary" type="button" (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>
    </mat-card-actions>
  </mat-card>
</div>