<mat-toolbar class="d-flex justify-content-between">

    <a href="#" mat-button [routerLink]="'/'">
        <img src="/assets/logo.png" alt="logo" height="60">
    </a>
    <div>
        <button mat-button type="button" [routerLink]="'/carrinho'">
            <mat-icon style="color: white">shopping_cart</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu" class="btn-perfil-menu">
            <mat-icon style="color: white">person</mat-icon>
            <mat-menu #menu="matMenu">
                <a href="#" mat-menu-item [routerLink]="'/login'" class="btn-perfil-menu-login" *ngIf="!estaAutenticado()">Login</a>
                <a href="#" mat-menu-item [routerLink]="'/cadastro'" class="btn-perfil-cadastro" *ngIf="!estaAutenticado()">Criar meu cadastro</a>
                <a href="#" mat-menu-item [routerLink]="'/meu-perfil'" class="btn-perfil-menu-perfil" *ngIf="estaAutenticado()">Meu perfil</a>
                <a href="#" mat-menu-item (click)="logout()" class="btn-perfil-menu-perfil-sair" *ngIf="estaAutenticado()">Sair</a>
            </mat-menu>
        </button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
