.table-produtos {
  width: 100%;
}

tr.mat-header-row {
  height: 30px;
}
tr.mat-row {
  height: 40px;
}

.acoes {
  width: 10%;
  min-width: 65px;
}

.valor {
  width: 15%;
  min-width: 90px;
}

.quantidade {
  width: 15%;
  min-width: 90px;
}