<div class="row  mt-3">
  <div class="col-4">
    <mat-form-field>
      <mat-label>Início</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field>
      <mat-label>Fim</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field>
      <mat-label>Desconto</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
</div>
<div class="row justify-content-end mb-4">
  <div class="col-2 text-right">
    <button type="button" mat-flat-button color="primary" (click)="novo()">Novo</button>
  </div>
  <div class="col-2 text-right">
    <button type="button" mat-flat-button color="primary">Pesquisar</button>
  </div>
</div>

<table mat-table [dataSource]="cupons" class="mat-elevation-z2 cupons-table">
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let cupom"> {{ cupom.codigo }} </td>
  </ng-container>
  <ng-container matColumnDef="percentual_valor">
    <th mat-header-cell *matHeaderCellDef>Descono</th>
    <td mat-cell *matCellDef="let cupom">
      {{ cupom.percentual | number:'2.0':'pt-br' }}%
  </ng-container>
  <ng-container matColumnDef="inicio">
    <th mat-header-cell *matHeaderCellDef>Início da campanha</th>
    <td mat-cell *matCellDef="let cupom"> {{ cupom.inicioCampanha | FormatarData }} </td>
  </ng-container>
  <ng-container matColumnDef="fim">
    <th mat-header-cell *matHeaderCellDef>Final da campanha</th>
    <td mat-cell *matCellDef="let cupom"> {{ cupom.fimCampanha | FormatarData }} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
  <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>
</table>