<form #form="ngForm" [formGroup]="cadastroForm" class="container-fluid ">
  <mat-card style="width: 80%;" class="mx-auto">
    <mat-card-header class="justify-content-center">
      <h1 style="margin-left: -20px;">
        Cadastro
      </h1>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <!-- Usuário => e-mail e senha-->
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="E-mail" formControlName="email" />
            <mat-error *ngIf="cadastroForm.get('email').hasError('required') && form.submitted">
              Informe o email
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Gênero -->
      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <mat-label>Gênero</mat-label>
            <mat-select placeholder="Selecione" formControlName="genero" [compareWith]="equalsObj">
              <mat-option *ngFor="let genero of generos" [value]="genero">{{ genero.descricao }}</mat-option>
            </mat-select>
            <mat-error *ngIf="cadastroForm.get('genero').hasError('required') && form.submitted">
              Informe o gênero
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" formControlName="nome" />

            <mat-error *ngIf="cadastroForm.get('nome').hasError('required') && form.submitted">
              Informe o nome
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Data de Nascimento-->
        <div class="col-4">
          <mat-form-field>
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="dataNascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error *ngIf="cadastroForm.get('dataNascimento').hasError('required') && form.submitted">
              Informe a data de nascimento
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <mat-label>Tipo do Telefone</mat-label>
            <mat-select placeholder="Selecione" formControlName="tipoTelefone" [compareWith]="equalsObj">
              <mat-option *ngFor="let tipoTelefone of tiposTelefone" [value]="tipoTelefone">{{ tipoTelefone.descricao }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="cadastroForm.get('tipoTelefone').hasError('required') && form.submitted">
              Informe o tipo de telefone
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Telefone" formControlName="telefone" mask="(00) 0000-0000 || (00) 0 0000-0000" />
            <mat-error *ngIf="cadastroForm.get('telefone').hasError('required') && form.submitted">
              Informe o telefone
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <app-documento (sincronizarDocumentos)="sincronizarDocumentos($event)" [documentos]="cadastroCliente.documentos"></app-documento>
    </mat-card-content>
    <mat-card-actions>
      <mat-divider></mat-divider>
      <div class="mt-3 row justify-content-end">
        <div class="col-2 d-flex justify-content-end">
          <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
        </div>
        <div class="col-2 d-flex justify-content-end">
          <button mat-flat-button color="primary" id="btn-salvar-alteracao" (click)="salvaCliente()">Salvar alterações</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>