<!-- <div class="meu-perfil"> -->
  <mat-drawer-container class="sidebar-container">
    <mat-drawer mode="side" opened class="d-flex sidebar">
      <ul class="menu">
        <li><a routerLink="/meu-perfil/pedidos" id="menu-perfil-pedidos">Pedidos</a></li>
        <li><a routerLink="/meu-perfil/dados-basicos" id="dados-basicos">Dados básicos</a></li>
        <li><a routerLink="/meu-perfil/enderecos" id="meu-perfil-enderecos">Endereços</a></li>
        <li><a routerLink="/meu-perfil/cartoes" id="meu-perfil-cartoes">Cartões</a></li>
        <li><a routerLink="/meu-perfil/alterar-senha" id="meu-perfil-alterar-senha">Alterar senha</a></li>
        <li><a routerLink="/meu-perfil/meus-cupons" id="menu-perfil-cupons">Meus cupons de troca</a></li>
      </ul>
    </mat-drawer>
    <mat-drawer-content class="container-fluid admin-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
<!-- </div> -->
