<form [formGroup]="formJustificativa">
  <h1 mat-dialog-title>Justificar {{ data.inativacao ? 'inativação': 'ativação'}} do produto</h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoria" [compareWith]="categoriaEquals">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria.descricao}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formJustificativa.get('categoria').hasError('required')">
            Informe a categoria
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Justificativa</mat-label>
          <textarea matInput placeholder="Justificativa" formControlName="justificativa" rows="4"></textarea>
          <mat-error *ngIf="formJustificativa.get('justificativa').hasError('required')">
            Informe a justificativa
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button type="button" color="warn" (click)="close()">Cancelar</button>
    <button mat-flat-button type="button" color="primary" (click)="efetivar()" cdkFocusInitial>{{ data.inativacao ? 'Inativar': 'Ativar'}}</button>
  </div>
</form>