<div class="container-fluid pt-4">
  <div class="d-flex flex-row">
    <div class="image-box">
       <img [src]="imageBase64EncodedString" />
    </div>
    <div class="d-flex flex-column ml-4 pt-4 detalhe-produto">
       <div class="row">
         <div class="col">
           <b>Título: </b>
           {{produto.titulo}}
         </div>
       </div>
       <div class="row">
         <div class="col">
           <b>Autor: </b>
           {{produto.autor}}
         </div>
       </div>
       <div class="row">
         <div class="col">
           <b>Valor: </b>
           {{produto.valor | currency:'BRL'}}
         </div>
       </div>
       <div class="row">
         <div class="col">
           <b>Sinopse: </b>
           <p>{{ produto.sinopse }}</p>
         </div>
       </div>
       <div class="row align-items-end botao-comprar">
         <div class="col">
           <button type="button" *ngIf="produto.quantidadeDisponivel > 0" mat-flat-button color="primary" (click)="adicionarCarrinho(produto)">Comprar</button>
           <button type="button" *ngIf="produto.quantidadeDisponivel <= 0" mat-flat-button>Produto indisponível</button>
         </div>
       </div>

       
    </div>
  </div>
</div>
