<!-- <div class="row">
  <div class="col-3 align-middle">
    <mat-radio-group 
      aria-label="Select an option" 
      class="radio-group" 
      color="primary" 
      [(ngModel)]="radioSelection"
      [disabled]="selectedOption > -1">
      <mat-radio-button value="1">Entrada</mat-radio-button>
      <mat-radio-button value="2">Saída</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col offset-1">
    <button 
      type="button" 
      mat-flat-button color="primary" 
      [disabled]="selectedOption > -1"
      (click)="selectedOption = radioSelection">Selecionar</button>
  </div>
</div> -->

<app-entrada-estoque (cancelarEntrada)="cancelar()"></app-entrada-estoque>
<!-- <app-saida-estoque *ngIf="selectedOption == 2"></app-saida-estoque> -->
