<form>
  <div class="row">
    <div class="col-4">
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="filtroTitulo" name="filtroTitulo"/>
      </mat-form-field>
    </div>
    <div class="col-4">
      <button mat-flat-button color="primary" type="button" (click)="pesquisar()">Pesquisar</button>
    </div>
  </div>
</form>
<div class="row my-3">
  <div class="col-4">
    <button mat-flat-button color="primary" type="button" (click)="novo()">Novo</button>
  </div>
</div>
<div class="row" *ngIf="produtos && produtos.length > 0">
  <div class="col">
    <!-- <table width="50%" border="1">
      <tr>
        <td width="50%">NOME</td>
        <td width="30%">AUTOR</td>
        <td>AÇÕES</td>
      </tr>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.titulo }}</td>
        <td>{{ produto.autor }}</td>
        <td>
          <button type="button" (click)="editar(produto)">Alterar</button>
          <button type="button" (click)="ativarInativar(produto)">
            {{ produto.ativo ? 'Inativar' : 'Ativar' }}
          </button>
        </td>
      </tr>
    </table> -->
    
    <table mat-table [dataSource]="produtos" class="mat-elevation-z2 table-produtos">
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let produto"> {{ produto.titulo }} </td>
      </ng-container>
      <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef>Autor</th>
        <td mat-cell *matCellDef="let produto"> {{ produto.autor }} </td>
      </ng-container>
      <ng-container matColumnDef="grupo-precificacao">
        <th mat-header-cell *matHeaderCellDef>Grupo de precificação</th>
        <td mat-cell *matCellDef="let produto"> {{ produto.grupoPrecificacao.descricao }} </td>
      </ng-container>
      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef>Quantidade em estoque</th>
        <td mat-cell *matCellDef="let produto"> {{ produto.quantidadeEstoque }} </td>
      </ng-container>
      <ng-container matColumnDef="quantidade-disponivel">
        <th mat-header-cell *matHeaderCellDef>Quantidade disponível</th>
        <td mat-cell *matCellDef="let produto"> {{ calcularQuantidadeDisponivel(produto) }} </td>
      </ng-container>
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let produto">
          <button mat-icon-button type="button" (click)="editar(produto)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="ativarInativar(produto)">
            <mat-icon *ngIf="produto.ativo" class="font-weight-bold" style="color: green;" title="Ativar">done</mat-icon>
            <mat-icon *ngIf="!produto.ativo" class="font-weight-bold" color="warn" title="Inativar">block</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="colunasItemEstoque"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasItemEstoque;"></tr>
    </table>
  </div>
</div>
