<div class="container-fluid pt-3">
  <div class="d-flex justify-content-center pb-5">
    <mat-card style="width: 100%;" class="mx-auto">
      <mat-card-header class="d-flex flex-column">
        <h1 class="text-center">
          Dashboard
        </h1>
        <form #form="ngForm" [formGroup]="formDashboard">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Tipo de gráfico</mat-label>
                <mat-select formControlName="tipoGrafico" id="tipoGrafico">
                  <mat-option value="GRAFICO_POR_PRODUTO">Vendas por produto</mat-option>
                  <mat-option value="GRAFICO_POR_CATEGORIA">Vendas por categoria</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="formDashboard.get('tipoGrafico').touched && formDashboard.get('tipoGrafico').hasError('required')">
                Informe o tipo de gráfico
              </mat-error>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="pickerDataInicial" formControlName="dataInicial" [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="pickerDataInicial" id="picker-data-inicial"></mat-datepicker-toggle>
                <mat-datepicker #pickerDataInicial></mat-datepicker>
              </mat-form-field>
              <mat-error *ngIf="formDashboard.get('dataInicial').touched && formDashboard.get('dataInicial').hasError('required')">
                Informe a data inicial do período
              </mat-error>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Data final</mat-label>
                <input matInput [matDatepicker]="pickerDataFinal" formControlName="dataFinal" [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="pickerDataFinal" id="picker-data-final"></mat-datepicker-toggle>
                <mat-datepicker #pickerDataFinal></mat-datepicker>
              </mat-form-field>
              <mat-error *ngIf="formDashboard.get('dataFinal').touched && formDashboard.get('dataFinal').hasError('required')">
                Informe a data final do período
              </mat-error>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button mat-flat-button color="primary" type="submit" (click)="gerarGrafico()" id="gerarGrafico">Gerar gráfico</button>
          </div>
          
          <!-- #region -->
          <div id="dashboard" style="width: 100%; padding-right:50px;" *ngIf="options"></div>
        </form>
      </mat-card-header>


    </mat-card>
  </div>
</div>
