/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e9e9e9;}

a, a:visited, a:hover {
  color: #fff;
}

.bd-highlight {
  background-color: rgba(86,61,124,0.15);
  border: 1px solid rgba(86,61,124,0.15);
}

mat-form-field {
  width: 100%;
}

.mat-flat-button.mat-primary {
  background-color: #365fa0;
}

input:read-only {
  color: #858585
}